<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../img/crm/fav.png">
    <title>Next CRM</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../css/crm/libs/bootstrap.min.css" rel="stylesheet">

   
    <!-- chartist CSS -->

    <!-- test sem esse css
    <link href="../../assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="../../assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="../../assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">

    


    <link href="../../assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../css/crm/style.css" rel="stylesheet">
    <link href="../../css/crm/colors/blue.css" id="theme" rel="stylesheet"> 
    
    <link href="../../css/crm/libs/vuetify.min.css" rel="stylesheet">
    <link href="../../css/crm/todos.css" id="theme" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  
  <!--
      <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
      -->
    
    
</head>

<body id="localScope" class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         
                         <!-- Light Logo text -->    
                         <img src="../../img/crm/logo.png" class="light-logo" alt="Logo" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->

                        <!--
                        <li class="nav-item dropdown">
                            <a href="https://wa.me/5519997787256"
                                target="_blank"
                                 class="nav-link dropdown-toggle text-muted waves-effect waves-dark">
                              
                                <img 
                                    class="logo-whatsapp"
                                    src="/assets/images/whatsapp-icon.png" />
                               
                               </a>
                        </li> -->

                        
                       <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../img/crm/users/_4.jpg" alt="user" class="profile-pic m-r-10" />Boss</a>
                        </li>
                        -->

                        <li class="nav-item dropdown">
                            <a href="/logout" class="nav-link dropdown-toggle text-muted waves-effect waves-dark">
                               <i class="mdi mdi-logout"> Sair</i></a>
                        </li>
                        
                   
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" 
                        id="menu-scope"
                        > <!-- ng-include="'fragment/menu.htm'" -->
                    <ul id="sidebarnav">

                        <li class="active" v-for="menu in menuStructure">

                            <a class="waves-effect waves-dark menu-link" href="#" aria-expanded="false">
                                <i 
                                    v-bind:class="menu.icon"></i>
                                <span 
                                    class="groupname" > {{ menu.groupname}}</span>

                                
                                <svg 
                                    class="bi bi-chevron-up svg-up svg-collapse" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"/>
                                </svg> 

                                <svg 
                                    class="bi bi-chevron-down svg-down svg-collapse" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                         <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                </svg>
                            </a>

                            
                            <ul v-bind:id="menu.menuid" class="nav flex-column collapse sub-nav collapsed-area">
                                <li 
                                    v-for="item in menu.itens"
                                    class="nav-item">

                                        <a 
                                            v-on:click="openForm( item.link, true )"
                                            class="nav-lik link-whitespace" href="#"> {{ item.menuname }}</a>
                                </li>
                            </ul> 
                        </li>

                    </ul>
                
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
            <!-- Bottom points-->
         
                <!-- item-->
                <!--
                <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                 -->
                <!-- item-->
                <!--
                <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> </div> -->
            <!-- End Bottom points-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper"> 

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div 
                v-if="showSpinner"
                id="spinner">
                <div class="loader">
                </div>
            </div>

            <div 
                id="list-scope"
                class="container-fluid">

                <dynamic-list 
                    v-if="showList"
                    v-bind:message="message"
                    v-bind:vm="vm"></dynamic-list>
            </div>

            <div 
                v-if="showEdit"
                id="edit-scope">
                <dynamic-edit 
                    v-bind:message="message"
                    v-bind:vm="vm"></dynamic-edit>
            </div>


            <div id="teste-render">

                <!--
                <button type="button" class="btn btn-success" id="open-mercadopago">Abrir mercado pago</button> -->
            </div>

            <!--
            <div 
                id="formedit-scope"
                class="container-fluid">

                <dynamic-list 
                    v-if="showList"
                    v-bind:message="message"
                    v-bind:vm="vm"></dynamic-list>
            </div> -->
            
            <iframe 
                    v-if="showIframe"
                    :src="vm.html.rightside"
                    ></iframe>
            
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer"> © 2020 - Next Soluções </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    
    


    <script src="../../js/crm/libs/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../js/crm/libs/tether.min.js"></script>
    <script src="../../js/crm/libs/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../js/crm/libs/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="../../js/crm/libs/waves.js"></script>
    <!--Menu sidebar -->
    <!-- <script src="js/sidebarmenu.js"></script>
    -->

    <!--stickey kit -->
    <script src="../../js/crm/libs/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="../../js/crm/custom.js"></script>
    

    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    
    <!--c3 JavaScript 
    <script src="../../assets/plugins/d3/d3.min.js"></script>
    <script src="../../assets/plugins/c3-master/c3.min.js"></script>
    -->


    <!-- Chart JS -->
    <script src="../../js/crm/libs/notify.min.js"></script>
    <script src="../../js/crm/libs/vue-2-6-11.js"></script>
    <script src="../../js/crm/libs/vuetify.js"></script>
    <script src="../../js/crm/libs/axios-0-19-2.js"></script>
    <script src="../../js/crm/menu.js"></script>
    <script src="../../js/crm/all.js"></script>

    <script>
        $(document).ready(function(){

            $(document).on("click", "#open-mercadopago", function(){
                $("#modal-mercadopago").modal();
            });
        });
    </script>
</body>

</html>
