<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/site/fav.png" />
  <!-- Author Meta -->
  <!-- <meta name="author" content="" /> -->

 
  <!-- Meta Keyword -->
  <meta name="keywords" content="Soluções digitais, sites, sistemas, crm" />
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Site Title -->
  <title>Next - Soluções Digitais</title>

  <!-- Meta Description -->
  <meta name="description" content="Criamos soluções digitais para o seu negócio, sites, sistemas, aplicativos, conheça também nosso CRM" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168898163-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-168898163-1');
  </script>


  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
  <!--
      CSS
      =============================================
    -->
  <link rel="stylesheet" type="text/css" href="css/eclipse-template/linearicons.css" />
  <link rel="stylesheet" type="text/css" href="css/eclipse-template/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />
  <link rel="stylesheet" type="text/css" href="css/eclipse-template/main.css" />

  <link rel="stylesheet" type="text/css" href="css/eclipse-template/todos.css" />
</head>

<body>
  <!-- ================ Start Header Area ================= -->
  <header class="default-header">
    <nav class="navbar navbar-expand-lg  navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="img/site/logo.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="lnr lnr-menu"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li><a href="#">Início</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
            <!-- Dropdown
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                Pages
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="elements.html">Elements</a>
                <a class="dropdown-item" href="course-details.html">Course Details</a>
              </div>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                Blog
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="blog-home.html">Blog Home</a>
                <a class="dropdown-item" href="blog-single.html">Blog Details</a>
              </div>
            </li>
            <li><a href="contacts.html">Contacts</a></li>

            <li>
              <button class="search">
                <span class="lnr lnr-magnifier" id="search"></span>
              </button>
            </li>
            -->
          </ul>
        </div>
      </div>
    </nav>

    <!--
    <div class="search-input" id="search-input-box">
      <div class="container">
        <form class="d-flex justify-content-between">
          <input type="text" class="form-control" id="search-input" placeholder="Search Here" />
          <button type="submit" class="btn"></button>
          <span class="lnr lnr-cross" id="close-search" title="Close Search"></span>
        </form>
      </div>
    </div> -->
  </header>
  <!-- ================ End Header Area ================= -->

  <!-- ================ start banner Area ================= -->
  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h1 class="text-white">
            Transformando o seu negócio <br />
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40">
            Levamos tecnologia, simplicidade e redução de custos. <br />
            Para o seu negócio em um mundo digital
          </p>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class="img-fluid" src="img/site/header-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-12 col-sm-12">
          <div class="feature-item d-flex">
            <i class="ti-mobile"></i>
            <div class="ml-20">
              <h4>Transformação Digital</h4>
              <p>
                Temos soluções modernas para trazer a sua empresa ou projeto para o mundo digital
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 second-feature-col">
          <div class="feature-item d-flex">
            <i class="ti-cup"></i>
            <div class="ml-20">
              <h4>Viabilidade</h4>
              <p>
                Escutamos com carinho o seu projeto, e te orientamos em tudo para como colocar o seu negócio online.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-money"></i>
            <div class="ml-20">
              <h4>Orçamento</h4>
              <p>
                Conhecemos a realidade nacional, por isso sempre buscamos orçamentos que cabem no seu bolso.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->

  <!-- ================ Start Popular Course Area ================= -->
  <section class="popular-course-area section-gap">
    <div class="container-fluid">
      <div class="row justify-content-center section-title">
        <div class="col-lg-12">
          <h2>
            Sobre nós
          </h2>

          <h4>Next - Te levando a próxima fase</h4>
          <p>
           <br /><br />
            Somos uma empresa digital, nossos serviços são digitais, nossos colaboradores trabalham remoto, somos entusiastas do Digital ! <br />
            
            <br />
            Oferecemos soluções digitais na criação de sites, desenvolvimento de sistemas, aplicativos, meios de pagamento e consultoria SaaS
          
            <br /><br />
            Vem bater um papo com a gente e transformar o seu negócio !
          </p>
        </div>
      </div>

      <!--
      <div class="owl-carousel popuar-course-carusel">
        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/popular-course/p1.jpg" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">programming language</p>
              <p class="value">$150</p>
            </div>
            <a href="#">
              <h4>Learn Angular JS Course for Legendary Persons</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
              </ul>
              <p class="ml-20">25 Reviews</p>
            </div>
          </div>
        </div>

        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/popular-course/p2.jpg" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">programming language</p>
              <p class="value">$150</p>
            </div>
            <a href="#">
              <h4>Learn Angular JS Course for Legendary Persons</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
              </ul>
              <p class="ml-20">25 Reviews</p>
            </div>
          </div>
        </div>

        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/popular-course/p3.jpg" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">programming language</p>
              <p class="value">$150</p>
            </div>
            <a href="#">
              <h4>Learn Angular JS Course for Legendary Persons</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
              </ul>
              <p class="ml-20">25 Reviews</p>
            </div>
          </div>
        </div>

        <div class="single-popular-course">
          <div class="thumb">
            <img class="f-img img-fluid mx-auto" src="img/popular-course/p4.jpg" alt="" />
          </div>
          <div class="details">
            <div class="d-flex justify-content-between mb-20">
              <p class="name">programming language</p>
              <p class="value">$150</p>
            </div>
            <a href="#">
              <h4>Learn Angular JS Course for Legendary Persons</h4>
            </a>
            <div class="bottom d-flex mt-15">
              <ul class="list">
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-star"></i></a>
                </li>
              </ul>
              <p class="ml-20">25 Reviews</p>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </section>
  <!-- ================ End Popular Course Area ================= -->

  <!-- ================ Start Video Area ================= -->
  <section class="video-area section-gap-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="section-title text-white">
            <h2 class="text-white">
              Onde você armazena os dados seus clientes? <br>
            </h2>
            <p>
              Conheça nossa solução para centralizar todos os dados dos seus clientes <br />
              Criar presença digital, gerenciar chamados, vendas e mídias sociais
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-md-6 video-left">
          <div class="owl-carousel video-carousel">
            <div class="single-video">
              <div class="video-part">
                <img class="img-fluid" src="img/site/next-crm.png" alt="">

              </div>
              <h4 class="text-white mb-20 mt-30">Talvez você precise de um CRM...</h4>
              <p class="text-white mb-20">
                Com todas as informações do cliente a disposição, se torna mais fácil a tomada de decisão
              </p> 
            </div>

            <!--
            <div class="single-video">
              <div class="video-part">
                <img class="img-fluid" src="img/video-img.jpg" alt="">
                <div class="overlay"></div>
                <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
                  <img class="play-icon" src="img/play-btn.png" alt="">
                </a>
              </div>
              <h4 class="text-white mb-20 mt-30">Talvez você precise de um CRM...</h4>
              <p class="text-white mb-20">
                                Esse vídeo explica como funciona o nosso CRM e como ele pode te apoiar nas suas tarefas diárias

              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Video Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="other-feature-area">
    <div class="container">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2>
              Conheça nossas<br />
              áreas de atuação
            </h2>
            <p>
              Áreas que entregamos o nosso melhor ! <br /> 
              para alinhar suas expectativas e orçamento a nossas tecnologias
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="other-feature-item">
            <i class="ti-bar-chart-alt"></i>
            <h4>Relatórios e Dashboard's</h4>
            <div>
              <p>
                Criação de relatórios, dashboard's e extração de dados'
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="other-feature-item">
            <i class="ti-files"></i>
            <h4>Sistemas</h4>
            <div>
              <p>
                Criação de sistemas web, aplicativos e híbridos <br />
                Procuramos entender suas necessidades, depois disso, sugerimos uma série de tecnologias para te apoiar,
                E por fim colocaremos em prática
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="other-feature-item">
            <i class="ti-cloud"></i>
            <h4>CRM</h4>
            <div>
              <p>
                Uma solução digital para conhecer muito mais o seu cliente <br />
                Saiba as vendas realizdas, chamados abertos e sua participação nas redes sociais
              </p>
            </div>
          </div>
        </div>

        <!--
        <div class="col-lg-4 col-md-6">
          <div class="other-feature-item">
            <i class="ti-briefcase"></i>
            <h4>35000+ Courses</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                amet consec tetur adipisicing elit, sed do eiusmod tempor
                incididunt labore.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="other-feature-item">
            <i class="ti-crown"></i>
            <h4>Expert Mentors</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                amet consec tetur adipisicing elit, sed do eiusmod tempor
                incididunt labore.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="other-feature-item">
            <i class="ti-headphone-alt"></i>
            <h4>Live Supports</h4>
            <div>
              <p>
                Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed
                do eiusmod tempor incididunt labore. Lorem ipsum dolor sit
                amet consec tetur adipisicing elit, sed do eiusmod tempor
                incididunt labore.
              </p>
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->

  <!-- ================ Start Testimonials Area ================= -->
 
  <section class="testimonials-area section-gap">
    <div class="container">
      <h2> Nossos Clientes </h2>

      <div class="testi-slider owl-carousel" data-slider-id="1">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="item">
              <div class="testi-item">
                <img src="img/site/testimonial/feirapp-logo.png" alt="" style="height: 100px;" /> <!-- <img src="img/quote.png" alt="" /> -->
                <div class="mt-40 text">
                  <p>
                    O Feirapp é uma plataforma mobile que possibilita que você tenha na palma da sua mão  frutas, legumes, verduras, ovos, produtos orgânicos e vários outros produtos de qualidade oferecidos diretamente pelos melhores feirantes, produtores rurais, agricultores e quitandas da sua região. 
                  </p>
                </div>
                <h4>Módulos Utilizados</h4>
                <p>Next - Service</p>
              </div>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-6">
           <!-- <img src="img/testimonial/feirapp-logo.png" alt="" /> -->
          </div>
        </div>

        <!--
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="item">
              <div class="testi-item">
                <img src="img/quote.png" alt="" />
                <div class="mt-40 text">
                  <p>
                    As conscious traveling Paup ers we must always be oncerned
                    about our dear Mother Earth. If you think about it, you
                    travel across her face <br />
                    and She is the host to your journey.
                  </p>
                </div>
                <h4>Fanny Spencer</h4>
                <p>Chief Executive, Amazon</p>
              </div>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-6">
            <img src="img/testimonial/t1.jpg" alt="" />
          </div>
        </div>

        -->
      </div>
    </div>
  </section>

  <!-- ================ End Testimonials Area ================= -->

  <!-- ================ Start Registration Area ================= -->
  <section class="registration-area">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-lg-5">
          <div class="section-title text-left text-white">
            <h2 class="text-white">
              Vamos marcar um bate papo ? <br />
            </h2>
            <p>
              Preencha os campos ao lado e deixe seus dados, em breve entraremos em contato com você <br />
              Ou envie um e-mail para <br /><br />atendimento@nextsolucoes.digital
            </p>
          </div>
        </div>
        <div class="offset-lg-3 col-lg-4 col-md-6">
          <div class="course-form-section">
            <h3 class="text-white">Deixe seus dados</h3>
            <p class="text-white">Entraremos em contato você !</p>
            <form class="course-form-area contact-page-form course-form text-right" id="myForm" action="mail.html" method="post">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="Nome" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Nome'">
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Telefone" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Phone Number'">
              </div>
              <div class="form-group col-md-12">
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" onfocus="this.placeholder = ''"
                 onblur="this.placeholder = 'Email Address'">
              </div>
              <div class="col-lg-12 text-center">
                <button class="btn text-uppercase">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Registration Area ================= -->

  <!-- ================ Start Blog Post Area ================= 
  <section class="blog-post-area section-gap">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2>
              Features That <br />
              Can Avail By Everyone
            </h2>
            <p>
              There is a moment in the life of any aspiring astronomer that it is time to buy that first telescope.
              It’s exciting to think about setting up your own viewing station.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-blog-post">
            <img src="img/blog-post/b1.jpg" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p>29th, oct, 2018</p>
              <p>121 likes</p>
              <p>05 comments</p>
            </div>
            <div class="text">
              <h4 class="text-white">Smart Kitchen Setup</h4>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consec tetur adipisicing elit,
                  sed do.
                </p>
              </div>
              <a href="#" class="primary-btn">
                View Details
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="single-blog-post">
            <img src="img/blog-post/b2.jpg" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p>29th, oct, 2018</p>
              <p>121 likes</p>
              <p>05 comments</p>
            </div>
            <div class="text">
              <h4 class="text-white">Smart Kitchen Setup</h4>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consec tetur adipisicing elit,
                  sed do.
                </p>
              </div>
              <a href="#" class="primary-btn">
                View Details
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="single-blog-post">
            <img src="img/blog-post/b3.jpg" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p>29th, oct, 2018</p>
              <p>121 likes</p>
              <p>05 comments</p>
            </div>
            <div class="text">
              <h4 class="text-white">Smart Kitchen Setup</h4>
              <div>
                <p>
                  Lorem ipsum dolor sit amet consec tetur adipisicing elit,
                  sed do.
                </p>
              </div>
              <a href="#" class="primary-btn">
                View Details
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   ================ End Blog Post Area ================= -->

  <!-- ================ start footer Area ================= -->
  

</body>

</html>