<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Comparador de consórcio</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../assets/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../../css/todos.css" />
  <link rel="stylesheet" type="text/css" href="../../css/consultor.css" />

  <!-- =======================================================
  * Template Name: Day - v2.1.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176526987-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176526987-1');
</script>

</head>

<body>

  <div 
    id="localScope">
      <!-- ======= Top Bar ======= -->
      <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
        <div class="container d-flex">
          <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:contato@comparadordeconsorcio.com.br">contato@comparadordeconsorcio.com.br</a>
            
          </div>
          <div class="social-links">

            <!--
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a> -->
            <a 
                target="_blank"
                href="https://www.facebook.com/investimentosdream" class="facebook"><i class="icofont-facebook"></i></a>
            <a 
                target="_blank"
                href="https://www.instagram.com/dreaminvestimentos/" class="instagram"><i class="icofont-instagram"></i></a>
            <!-- <a href="#" class="skype"><i class="icofont-skype"></i></a> -->
            <a 
                target="_blank"
                href="https://www.linkedin.com/company/dream-investimentos/" class="linkedin"><i class="icofont-linkedin"></i></i></a>

            <a 
                target="_blank"
                href="https://www.youtube.com/c/DreamInvestimentos" class="youtube"><i class="icofont-youtube"></i></i></a>


            <a 
                target="_blank"
                href="#" class="youtube">
                    <img src="../../img/Logo Dreamvb.png" class="logo-dream" />
                </a>

          </div>
        </div>
      </div>

      <!-- ======= Header ======= -->
      <header 
        id="header" 
        class="fixed-top ">
        <div class="container d-flex align-items-center">

          <h1 class="logo mr-auto">
              <a href="../../index.html">

                  <img src="../../img/LOGO COMPARADOR 3.png" alt="logo" />
              </a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li 
                    
                    class="active"><a href="#">Comparador</a></li>
              <li><a 
              
                  v-bind:href="'../../ligacao.html?name=' + vm.landing.link "> Solicitar ligação</a></li>
              <li><a 
              
                  v-vind:href="'../../visita.html?name='  + vm.landing.link " >Agendar visita</a></li>
              <li><a href="#contact">Blog</a></li>
              <!--
              <li><a href="#pricing">Pricing</a></li>
              <li><a href="#team">Team</a></li>
              <li class="drop-down"><a href="">Drop Down</a>
                <ul>
                  <li><a href="#">Drop Down 1</a></li>
                  <li class="drop-down"><a href="#">Deep Drop Down</a>
                    <ul>
                      <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 2</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                </ul>
              </li>
              <li><a href="#contact">Contact</a></li> -->

            </ul>
          </nav><!-- .nav-menu -->

        </div>
      </header><!-- End Header -->

      <!-- ======= Hero Section ======= -->
      

      <div class="owl-carousel banner-carousel">

        <!--
        <section class="d-flex align-items-center banner-black banner-slider">
          <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Black November  2020</h1>
            <h2>Cashback de 50% da Primeira Parcela</h2>
          </div>
        </section> End Hero -->

        <section id="hero" class="d-flex align-items-center">
          <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Consórcio de Imóvel</h1>
            <h2>Conquiste sua casa sem pagar Juros</h2>
          </div>
        </section><!-- End Hero -->

        <section class="d-flex align-items-center banner-2 banner-slider">
          <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Consórcio de Auto</h1>
            <h2>Seu carro novo esta aqui</h2>
          </div>
        </section><!-- End Hero -->

        <section class="d-flex align-items-center banner-3 banner-slider">
          <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Consórcio de Moto</h1>
            <h2>Viva a liberdade de escolha</h2>
          </div>
        </section><!-- End Hero -->
      </div>

      <main id="main">

        <section id="comparador" class="comparador-consorcio">
              

              <div class="comparador-title">
                  <span class="bold">COMPARE CONSÓRCIOS AGORA</span>
              </div> 

              <div id="comparador-spinner">
                  <div 
                      v-if="vm.meta.isloading"
                      id="spinner">
                      <div class="loader">
                      </div>
                  </div>
              </div>


              <div  
                v-if="vm.showRange"
                class="row comparador-row">
                  <div class="col-sm-6 col-range" 
                    style="
                        text-align: left;
                        padding-right: 50px;">
                        
                          <label style="
                              text-align: left;
                              padding-left: 20px;
                              padding-top: 30px;" 
                              class="color-green bold">TIPO DO BEM</label> 


                          <select 
                              v-model="vm.model.category"
                              v-on:change="onChangeCategory( vm.model.category )"
                              v-bind:disabled="vm.meta.isloading"
                              class="form-control">
                                <option v-for="category in vm.categories" v-bind:value="category._id"> {{ category.name }}</option>
                          </select>  
                  </div>
          
                  <div class="col-sm-6">
          
                      <div class="row" 
                          style="text-align: left;
                          padding-left: 25px;
                          padding-top: 30px;
                          margin-bottom: 10px;">
                          
                          <div class="col-sm-12 text-center">
                              <span class="bold">VALOR DO BEM</span>
                          </div>

                          <money 
                            v-if="vm.model.optionsimulador == 'B' "
                            v-bind:disabled="vm.meta.isloading"
                            readonly="readonly" v-model="vm.model.endrangevalue" class="form-control money-mask greather-text" v-bind="money"></money> 
          
                          <!--
                          <div class="col-sm-6">
                              <input
                                  v-model="vm.model.optionsimulador" 
                                  type="radio" 
                                  value="P"
                                  name="optionsimulador"> <span class="bold">VALOR DA PARCELA</span>
                          </div> -->
                    </div>
                  </div>
          

                  <div class="col-sm-12 col-range" 
                        style="text-align: left;
                        padding-left: 30px;
                        padding-right: 30px;
                        padding-left: 40px;">

                        <label> <span class="bold"></span></label> 

                        

                        <money 
                            v-if="vm.model.optionsimulador == 'P' "
                            readonly="readonly" v-model="vm.model.parcelaendrangevalue" class="form-control money-mask greather-text" v-bind="money"></money> 

                        <!--
                        <label class="color-green label-range"> R$ {{ vm.model.endrangevalue }} </label> 
                        -->

                        <input 
                            v-if="vm.model.optionsimulador == 'P' "
                            min="100" max="30000"  step="100"
                            type="range" 
                            v-model="vm.model.parcelaendrangevalue"> 


                        <input 
                            v-if="vm.model.optionsimulador == 'B' "
                            min="5000" max="750000"  step="5000"
                            type="range" 
                            v-model="vm.model.endrangevalue"> 

                  </div>  


                  <div class="col-sm-12">
                      <p class="receber-ofertas">
                          <label class="switch">
                              <input 
                                  v-model="vm.model.whatsapp"
                                  type="checkbox" > 
                              <span class="slider round"></span>
                          </label>
                          Desejo Receber Informações por Whatsapp <br>
                      </p> 
                      
                      <button 
                          v-on:click="showContact()"
                          class="form-control compare">CONTINUAR</button>
                  </div>
              </div>

              <div 
                  v-if="vm.showContact"
                  id="dados-contato" class="row">
                  <div class="col-sm-6">
                      <label>Nome</label>

                      <input
                          v-model="vm.model.name"
                          required="required"
                          type="text" class="form-control" />
                  </div>

                  <div class="col-sm-6">
                      <label>E-mail</label>

                      <input 
                          v-model="vm.model.email"
                          required="required"
                          type="text" class="form-control" />
                  </div>

                  <div class="col-sm-6">
                      <label>Celular</label>

                      <input 
                          required="required"
                          v-model="vm.model.cellphone"
                          v-on:change="saveLead( vm.model )"
                          v-mask="['(##) ####-####', '(##) #####-####']"
                          type="text" class="form-control" />
                  </div>

                  <div class="col-sm-6">
                      <label>Cidade</label>

                      <input 
                          v-model="vm.model.city"
                          type="text" class="form-control" />
                  </div>

                  <div class="col-sm-12"> <br />
                      <button 
                          v-on:click="saveLeadAndRedirect( vm.model, vm.landing.link, vm.landing.id )"
                          class="form-control compare">Ver resultados</button>
                  </div>

                  

              </div>

              <div class="row">
                  <div class="col-12">
                      <hr />
                      
                  </div>
              </div>

              <!-- promoter -->
              <div class="row promoter">  

                

                <div class="col-sm-3">

                        <img 
                            class="logo-promoter"  
                            v-if="vm.landing['logo-file']"
                            v-bind:src="'https://www.comparadordeconsorcio.com.br/img/uploads/' + vm.landing['logo-file'].filename"
                            alt="logo" />
                </div>

                <div class="col-sm-9">

                        <h5 class="promoter-help">Peça ajuda ao consultor </h5>

                        <h4 v-if="vm.landing.type == 'consult' ">Consultor Autorizado</h4>
                        <h4 v-if="vm.landing.type == 'promoter' ">Promotor Autorizado</h4>

                        
                        <h3 class="promoter-name">{{ vm.landing.name }}</h3>

                        <h5 class="email-consultor">{{ vm.landing.email }}</h5>
                        <h5> 
                            <a 
                              class="consultor-cellphone"
                              v-bind:href="'https://api.whatsapp.com/send?phone=55' + vm.landing.cellphone">{{ vm.landing.cellphone }}</a>
                            
                            <a v-bind:href="'https://api.whatsapp.com/send?phone=55' + vm.landing.cellphone">
                                <button class="btn btn-primary btn-sm btn-callwhatsapp">
                                    Chamar no WhatsApp
                                </button>
                            </a>
                        </h5>

                         <a 
                            target="_blank"
                            v-bind:href="vm.landing.facebook" 
                            class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a 
                            target="_blank"
                            v-bind:href="vm.landing.instagram"
                            class="instagram"><i class="bx bxl-instagram"></i></a>

                        <a 
                            target="_blank"
                            v-bind:href="vm.landing.linkedin" class="linkedin"><i class="bx bxl-linkedin"></i></a>

                        <a 
                            target="_blank"
                            v-bind:href="'https://api.whatsapp.com/send?phone=55' + vm.landing.cellphone" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                </div>

            </div>
            </section>


        <div class="container">
            
        </div>

        <div class="owl-carousel company-carousel">

                  <img
                      v-for="employer in vm.employes" 
                      v-if="employer['image-file']"
                      
                      v-bind:src="'https://www.comparadordeconsorcio.com.br/img/uploads/' + employer['image-file'].filename  "
                      class="img-fluid image-gray" alt="">

        </div>

        <!-- ======= About Section ======= -->
        <!--
        <section id="about" class="about">
          <div class="container">

            <div class="row">
              <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="icofont-check-circled"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="icofont-check-circled"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>
              </div>
            </div>

          </div>
        </section>
        -->
        <!-- End About Section -->

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container">

            <div class="row">

              <div class="col-sm-3" data-aos="fade-up">
                <div class="box">
                  <span>1</span>
                  <h4>Selecione o Bem</h4>
                  <!--
                  <img src="img/passo-01.gif" />-->
                  <p></p>
                </div>
              </div>

              <div class="col-sm-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                <div class="box">
                  <span>2</span>
                  <h4>Faça seu comparativo</h4>
                  <p></p>
                </div>
              </div>

              <div class="col-sm-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                  <span>3</span>
                  <h4>Escolha o que mais lhe agrada</h4>
                  <p></p>
                </div>
              </div>

              <div class="col-sm-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                  <span>4</span>
                  <h4> Peça ajuda a consultor especializado</h4>
                  <p></p>
                </div>
              </div>

            </div>

          </div>
        </section><!-- End Why Us Section -->

        <!-- ======= Clients Section ======= -->
        
        <section id="row-requisicoes" class="services">
          <div class="container">

            <div class="row">
              <div class="col-sm-6 align-items-stretch youtube-videos div-solicitacoes" data-aos="fade-up">
                
                <a v-bind:href="'../ligacao.html?name=' + vm.landing.link ">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bx-phone-call"></i></div>
                      <h4>Solicitar ligação</h4>

                      <p>
                        Receba uma ligação agora e saiba como fazer o melhor negócio
                      </p>
                    </div>
                </a>
              </div>

              <div class="col-sm-6 align-items-stretch mt-4 mt-md-0 youtube-videos div-solicitacoes" data-aos="fade-up" data-aos-delay="150">
                
                <a href="'../visita.html?name=' + vm.landing.link ">
                    <div class="icon-box">
                      <div class="icon"><i class="bx bx-briefcase"></i></div>
                      <h4>Agendar visita</h4>

                      <p>
                        Vamos até você e esclarecemos suas dúvidas sem compromisso
                      </p>
                    </div>
                </a>
              </div>

              

            </div>

          </div>
        </section><!-- End Services Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
          <div class="container">

            <div class="section-title">
              <span>DICAS DE CONSÓRCIO</span>
              <h2>DICAS DE CONSÓRCIO</h2>
              <p>Conheça um pouco mais do nosso trabalho em nosso canal no Youtube</p>
            </div>

            <div class="row">
              <div class="col-sm-6 align-items-stretch youtube-videos" data-aos="fade-up">
                <div class="icon-box">
                  
                  <!--
                  <div class="icon">
                    <i class="bx bxl-dribbble"></i> 
                  </div>-->
                  <h4><a href="">Qual administradora ou plano escolher ?</a></h4>

                  <a href="https://youtu.be/XTgpiH56zII"
                    target="_blank">
                      <img src="../../img/qual_administradora_escolher.jpeg" class="video-image" alt="logo" />
                  </a>
                  
                  
                </div>
              </div>

              <div class="col-sm-6 align-items-stretch mt-4 mt-md-0 youtube-videos" data-aos="fade-up" data-aos-delay="150">
                <div class="icon-box">
                  <h4><a href="">Como ser contemplado por lance</a></h4>

                  <a href="https://youtu.be/Yb9G9WNaBYY"
                    target="_blank">
                      <img src="../../img/como_ser_contemplado_por_lance.jpeg" class="video-image" alt="logo" />
                  </a>
                </div>
              </div>

              

            </div>

          </div>
        </section><!-- End Services Section -->


      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-4 col-md-6">
                <div 
                   
                    class="footer-info">
                  <h3>

                    <img class="logo-footer" src="../../img/LOGO COMPARADOR 3.png" alt="logo" />

                    <!--
                    <img 
                          class="logo-footer"
                          v-if="vm.landing['logo-file']"
                          v-bind:src="'https://www.comparadordeconsorcio.com.br/img/uploads/' + vm.landing['logo-file'].filename"
                          alt="logo" />
                          -->
                  </h3>

                  <p>
                      {{ vm.landing.about }}
                  </p>

                  <br />
                  
                  <p>
                    <!--
                    A108 Adam Street <br>
                    NY 535022, USA --><br><br>
                    <strong>Telefone:</strong> {{ vm.landing.cellphone }}<br>
                    <strong>E-mail:</strong> {{ vm.landing.email }} <br>
                  </p>

                  
                  <div class="social-links mt-3">
                    <a 
                      target="_blank"
                      href="https://www.facebook.com/investimentosdream" 
                      class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a 
                      target="_blank"
                      href="https://www.instagram.com/dreaminvestimentos/" 
                      class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a 
                      target="_blank"
                      href="https://www.linkedin.com/company/dream-investimentos/" class="linkedin"><i class="bx bxl-linkedin"></i></a>

                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 footer-links">
                <h4>Links Úteis</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="../../index.html">Comparador</a></li>
                  <li><i class="bx bx-chevron-right"></i> 
                      <a v-bind:href="'../../ligacao.html?name=' + vm.landing.link">Solicitar ligação</a>
                  </li>
                  <li><i class="bx bx-chevron-right"></i> 
                      <a v-bind:href="'../../visita.html?name=' + vm.landing.link ">Agendar visita</a>
                  </li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="../../privacidade.html">Política de Privacidade</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="../../termos.html">Termos de Uso</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="../../financeira.html">Políticas Financeiras</a></li>


                  <!--
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                  -->
                </ul>
              </div>

              <!--
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>

              </div>
              -->

            </div>
          </div>
        </div>

        <div class="container">
          <div class="copyright">
            &copy; 2020  Comparador de Consórcio By <strong><span>Dream investimentos</span></strong>. Todos os direitos reservados
          </div>

          
        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <div id="preloader"></div>
  </div>
  <!-- localScope --> 
  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../../assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../../assets/js/main.js"></script>

  <script src="../../js/libs/axios-0-19-2.js"></script>
  <script src="../../js/libs/vue-2-6-11.js"></script>
  <script src="../../js/libs/v-money.js"></script>
  <script src="../../js/libs/vue-the-mask.js"></script>
  <script src="../../js/libs/owl.carousel.min.js"></script>

  <script src="../../js/site.js"></script>
  <script src="../../js/consultor.js"></script>
</body>

</html>