<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Comparador de consórcio</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/todos.css" />
  <link rel="stylesheet" type="text/css" href="css/products.css" />
  <link rel="stylesheet" type="text/css" href="css/termos.css" />

  <!-- =======================================================
  * Template Name: Day - v2.1.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176526987-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176526987-1');
</script>

</head>

<body>

  <div id="localScope">
      <!-- ======= Top Bar ======= -->
      <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
        <div class="container d-flex">
          <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:contato@comparadordeconsorcio.com.br">contato@comparadordeconsorcio.com.br</a>
            
          </div>
          <div class="social-links">

            <!--
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a> -->
            <a 
                target="_blank"
                href="https://www.facebook.com/investimentosdream" class="facebook"><i class="icofont-facebook"></i></a>
            <a 
                target="_blank"
                href="https://www.instagram.com/dreaminvestimentos/" class="instagram"><i class="icofont-instagram"></i></a>
            <!-- <a href="#" class="skype"><i class="icofont-skype"></i></a> -->
            <a 
                target="_blank"
                href="https://www.linkedin.com/company/dream-investimentos/" class="linkedin"><i class="icofont-linkedin"></i></i></a>

            <a 
                target="_blank"
                href="https://www.youtube.com/c/DreamInvestimentos" class="youtube"><i class="icofont-youtube"></i></i></a>


            <a 
                target="_blank"
                href="#" class="youtube">
                    <img src="img/Logo Dreamvb.png" class="logo-dream" />
                </a>

          </div>
        </div>
      </div>

      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

          <h1 class="logo mr-auto">
              <a href="index.html">

                  <img src="img/LOGO COMPARADOR 3.png" alt="logo" />
              </a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Comparador</a></li>
              <li><a href="ligacao.html">Solicitar ligação</a></li>
              <li><a href="visita.html">Agendar visita</a></li>
              <li><a href="#contact">Blog</a></li>
             

            </ul>
          </nav><!-- .nav-menu -->

        </div>
      </header><!-- End Header -->

      
      <main id="main">

        <section id="why-us" class="why-us why-us-pages">
          <div class="container">
                <div class="row">
                    <div class="col-sm-8 section-termos">
                        <h2>Termos de Privacidade</h2>

                        <p>A PLATAFORMA www.comparadordeconsorcio.com.br possui um compromisso com a segurança e privacidade de seus usuários e clientes. Sendo assim, apresentamos nossa política de privacidade e os termos de uso para que, ao visitar nosso site, você tenha sempre a certeza do sigilo e da privacidade com que seus dados serão tratados, dentro dos padrões de segurança na Internet. A Política de Proteção à Privacidade compreende as regras que visam resguardar a privacidade de seus usuários, além de esclarecer como serão utilizadas suas informações. Aqui, você terá todos os esclarecimentos necessários sobre os dados que coletamos, como são controlados, com quem são compartilhados e como serão usados.
                        
                        <p>Abaixo, apresentamos os itens que determinam nossa política de privacidade e os termos de uso do nosso site e sugerimos que seu conteúdo seja periodicamente consultado, pois poderá sofrer alterações, acompanhando as modificações da Internet e das novas tecnologias.
                        </p>
                        </p>
                        <h3>Coleta de Informações</h3>
                        
                        <p>Em nossos comparadores e formulários, os dados solicitados têm a função de realizar a comparação de planos e calcular o valor das parcelas do produto de acordo com o local de domicílio do usuário (VALOR, CEP e DDD), pois as taxas aplicadas podem variar de acordo com a região informada. Os dados pessoais (NOME e E-MAIL) são necessários para gerar a comparação de planos personalizada e encaminhar a cópia para o endereço eletrônico informado. Assim, no caso de consulta posterior, as informações da comparação realizada estarão disponíveis para a área de atendimento, tornando o processo mais rápido e seguro. 
                        </p>
                        <h3>Uso das Informações</h3>
                        <p>Nossa PLATAFORMA, em hipótese alguma, comercializará ou repassará a terceiros as informações fornecidas por nossos usuários voluntariamente, pois entendemos que tais dados foram fornecidos pela confiança em nós depositada, cujo conceito nos cabe preservar. Portanto, as informações serão repassadas apenas e EXCLUSIVAMENTE para o representante ou vendedor responsável pelo contato com você e ele mesmo irá prestar o atendimento de forma personalizada para envio de propostas, contatos comerciais e informações diversas.
                        O que são Cookies e para que são usados?
                        </p>
                        <p>Os cookies são pequenos arquivos de dados, que são instalados no disco do computador do usuário. Como diversas outras empresas que atuam na web, em algum momento, esta PLATAFORMA poderá utilizar a tecnologia de cookies para obter informações mercadológicas de segmentação de audiência ou personalizar o site de acordo com o perfil do cliente. Essa ferramenta não é capaz de obter nenhuma informação pessoal do navegante ou informações contidas no computador no qual foi instalado.
                        </p>
                        <h3>Segurança</h3>
                        <p>Todas informações ou dados pessoais prestados pelos usuários são armazenados em servidores seguros. Esta PLATAFORMA tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta cláusula, porém, não responderá por prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de usuários.
                        Orientamos o usuário a tomar as precauções necessárias para garantir a segurança de seu computador, como a utilização de programas antivírus ou outros itens de proteção. Os sistemas utilizados por nosso portal não afetam a configuração original dos computadores, pelos quais estarão sendo acessados.
                        </p>
                        <h3>Direitos Autorais</h3>
                        <p>É vedado ao usuário modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar, disponibilizar, licenciar ou criar obras derivadas a partir das informações coletadas nesta PLATAFORMA, bem como transferir ou vender tais informações, software, produtos ou serviços, sob pena de violação do presente termo e infração legal.
                        </p>
                        <p>Quaisquer avisos ou comunicações que uma das partes tenha de fazer à outra parte, em relação a direitos ou obrigações contidas no presente instrumento, deverá adotar da forma escrita, assim como entregar no endereço constante do preâmbulo deste Termo de Uso.
                        </p>
                        <p>Todos os itens desta Política de Privacidade estão regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação e ao cumprimento destes Termos de Uso, as partes se submetem ao foro Central da Cidade de São Paulo.
                        </p>

                    </div>

                    <div class="col-sm-4">
                        <div class="row row-anuncios">

                            <div class="col-sm-12 align-items-stretch youtube-videos div-solicitacoes col-anuncios" data-aos="fade-up">
                                <div class="icon-box">
                                <div class="icon"><i class="bx bx-phone-call"></i></div>
                                <h4><a href="ligacao.html">Solicitar ligação</a></h4>

                                <p>
                                    Receba uma ligação agora e saiba como fazer o melhor negócio
                                </p>
                                </div>
                            </div>

                            <div class="col-sm-12 align-items-stretch mt-4 mt-md-0 youtube-videos div-solicitacoes col-anuncios" data-aos="fade-up" data-aos-delay="150">
                                <div class="icon-box">
                                <div class="icon"><i class="bx bx-briefcase"></i></div>
                                <h4><a href="visita.html">Agendar visita</a></h4>

                                    <p>
                                        Vamos até você e esclarecemos suas dúvidas sem compromisso
                                    </p>
                                </div>
                            </div>

                            
                        </div>
                    </div>

                </div>
          </div>
        </section><!-- End Why Us Section -->

        <div class="owl-carousel company-carousel">

                  <img
                      v-for="employer in vm.employes" 
                      v-if="employer['image-file']"
                      
                      v-bind:src="'https://www.comparadordeconsorcio.com.br/img/uploads/' + employer['image-file'].filename  "
                      class="img-fluid image-gray" alt="">

        </div>

      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-4 col-md-6">
                <div class="footer-info">
                  <h3>
                    <img 
                          class="logo-footer"
                          src="img/logo-comparador-branco.png" alt="logo" />
                  </h3>

                  <p>
                      O Consórcio é autorizado e fiscalizado pelo Banco Central do Brasil, garantia e segurança total para você.
                  </p>

                  <br />
                  
                  <p>
                    <!--
                    A108 Adam Street <br>
                    NY 535022, USA --><br><br>
                    <strong>E-mail:</strong> contato@comparadordeconsorcio.com.br<br>
                  </p>

                  
                  <div class="social-links mt-3">
                    <a 
                      target="_blank"
                      href="https://www.facebook.com/investimentosdream" 
                      class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a 
                      target="_blank"
                      href="https://www.instagram.com/dreaminvestimentos/" 
                      class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a 
                      target="_blank"
                      href="https://www.linkedin.com/company/dream-investimentos/" class="linkedin"><i class="bx bxl-linkedin"></i></a>

                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 footer-links">
                <h4>Links Úteis</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="index.html">Comparador</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="ligacao.html">Solicitar ligação</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="visita.html">Agendar visita</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="privacidade.html">Política de Privacidade</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="termos.html">Termos de Uso</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="financeira.html">Políticas Financeiras</a></li>


                  <!--
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                  -->
                </ul>
              </div>

              <!--
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>

              </div>
              -->

            </div>
          </div>
        </div>

        <div class="container">
          <div class="copyright">
            &copy; 2020  <strong><span>Comparador de Consórcio By Dream iInvestimentos</span></strong>. Todos os direitos reservados
            <img src="img/Logo Dreamvb.png" class="logo-dream logo-dream-footer" />
          </div>

          
        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <div id="preloader"></div>
  </div>
  <!-- localScope --> 
  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script src="js/libs/axios-0-19-2.js"></script>
  <script src="js/libs/vue-2-6-11.js"></script>
  <script src="js/site.js"></script>
</body>

</html>