<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Comparador de consórcio</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/todos.css" />
  <link rel="stylesheet" type="text/css" href="css/products.css" />
  <link rel="stylesheet" type="text/css" href="css/termos.css" />

  <!-- =======================================================
  * Template Name: Day - v2.1.0
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176526987-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176526987-1');
</script>

</head>

<body>

  <div id="localScope">
      <!-- ======= Top Bar ======= -->
      <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
        <div class="container d-flex">
          <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:contato@comparadordeconsorcio.com.br">contato@comparadordeconsorcio.com.br</a>
            
          </div>
          <div class="social-links">

            <!--
            <a href="#" class="twitter"><i class="icofont-twitter"></i></a> -->
            <a 
                target="_blank"
                href="https://www.facebook.com/investimentosdream" class="facebook"><i class="icofont-facebook"></i></a>
            <a 
                target="_blank"
                href="https://www.instagram.com/dreaminvestimentos/" class="instagram"><i class="icofont-instagram"></i></a>
            <!-- <a href="#" class="skype"><i class="icofont-skype"></i></a> -->
            <a 
                target="_blank"
                href="https://www.linkedin.com/company/dream-investimentos/" class="linkedin"><i class="icofont-linkedin"></i></i></a>

            <a 
                target="_blank"
                href="https://www.youtube.com/c/DreamInvestimentos" class="youtube"><i class="icofont-youtube"></i></i></a>


            <a 
                target="_blank"
                href="#" class="youtube">
                    <img src="img/Logo Dreamvb.png" class="logo-dream" />
                </a>

          </div>
        </div>
      </div>

      <!-- ======= Header ======= -->
      <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

          <h1 class="logo mr-auto">
              <a href="index.html">

                  <img src="img/LOGO COMPARADOR 3.png" alt="logo" />
              </a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="index.html">Comparador</a></li>
              <li><a href="ligacao.html">Solicitar ligação</a></li>
              <li><a href="visita.html">Agendar visita</a></li>
              <li><a href="#contact">Blog</a></li>
             

            </ul>
          </nav><!-- .nav-menu -->

        </div>
      </header><!-- End Header -->

      
      <main id="main">


        <section id="why-us" class="why-us why-us-pages">
          <div class="container">
                <div class="row">
                    <div class="col-sm-8 section-termos">
                        <h2>Termos de Uso</h2>

                        <p>L&Z REPRESENTAÇÕES EINVESTIMENTOS LTDA-ME, inscrita no CNPJ sob nº. 21.396.166/0001-49, é a única e exclusiva empresa responsável pelas matérias, publicações, anúncios e conteúdo da PLATAFORMA www.comparadordeconsorcio.com.br, doravante denominado COMPARADORDECONSORCIO, e estabelece o presente TERMO DE USO para seus USUÁRIOS, conforme as condições abaixo discriminadas: 
                        </p>

                        <p>A prévia compreensão e aceitação do presente TERMO DE USO são indispensáveis para a utilização da PLATAFORMA www.comparadordeconsorcio.com.br e de todos os seus serviços. Este documento informa as responsabilidades, deveres e obrigações que todo USUÁRIO assume ao acessar e/ou utilizar a PLATAFORMA e seus serviços relacionados. Por este TERMO DE USO, o USUÁRIO fica ciente e concorda que ao utilizar os serviços desta PLATAFORMA, automaticamente aderirá e concordará em se submeter integralmente às condições do presente TERMO DE USO e qualquer uma de suas alterações futuras.
                        </p>

                        <p>Declara o USUÁRIO, neste ato, na qualidade de pessoa física, ser absolutamente capaz diante das leis civis brasileiras. Ser maior de dezoito anos, ou menor emancipado, não interditado, gozando de plenas faculdades mentais e plena capacidade de contratar, sem vontade de causar dano, prejuízo, prestar falsa informação, fraude ou estelionato.
                        </p>

                        <p><strong>A - USUÁRIOS:</strong> são as pessoas físicas que acessam as informações e usam os serviços providos pela PLATAFORMA www.comparadordeconsorcio.com.br;
                        </p>

                        <p><strong>B - PLATAFORMA:</strong> doravante denominada COMPARADORDECONSORCIO é acessada através do endereço eletrônico e tem como objetivo prestar informações diversas sobre o mercado financeiro e, também, mais especificamente, sobre o segmento de consórcio, bem como publicar matérias jornalísticas, entrevistas, notícias, dicas, novidades e vídeos do mesmo segmento. Também poderá disponibilizar pesquisas e simulações de planos de consórcio conforme o valor do crédito escolhido e a venda online de cotas de consórcios, onde o crédito contratado poderá ser utilizado após a contemplação para a compra do bem, a critério do próprio consorciado.
                        </p>

                        <p>A aquisição de plano de consórcio de um determinado crédito não está condicionada à compra de um bem de marca ou modelo específico. O consorciado contemplado poderá utilizar o crédito para adquirir o bem desejado, conforme estabelece o contrato firmado com a ADMINISTRADORA DE CONSÓRCIO autorizada pelo Banco Central;
                        </p>

                        <p><strong>C - ADMINISTRADORA DE CONSÓRCIO:</strong> é a pessoa jurídica autorizada pelo Banco Central a comercializar cotas de consórcios, formar grupos e administrar os negócios e interesses dos consorciados, representada aqui por vendedores e representantes autorizados; 
                        </p>

                        <p><strong>D</strong> - Esta PLATAFORMA disponibiliza para as equipes de vendas (Representantes/Pessoa jurídica e Vendedores/Pessoa física), sistemas e ferramentas de trabalho nos canais digitais para facilitar a divulgação do seu serviço de representação e/ou vendas, além de facilitar as ações de marketing para divulgação e captação de clientes interessados nos referidos produtos e serviços ofertados; 
                        </p>

                        <p><strong>E</strong> - A PLATAFORMA atua como agente facilitador entre os representantes, vendedores e seus usuários, interessados em obter mais informações e/ou adquirir um plano de consórcio da ADMINISTRADORA DE CONSÓRCIO para qual o profissional trabalha, mediante a simulação ou contratação de um plano de consórcio através da Internet. Visando o atendimento rápido e eficiente das solicitações realizadas pelo USUÁRIO, a plataforma repassa as informações exclusivamente e diretamente para os profissionais de vendas da ADMINISTRADORA DE CONSÓRCIO, iniciando a negociação entre o USUÁRIO e o representante ou vendedor da ADMINISTRADORA DE CONSÓRCIO. Sempre de forma direta e personalizada para prestar mais informações e/ou auxílio na contratação do plano de consórcio pretendido; 
                        </p>

                        <p><strong>F</strong> - Esta PLATAFORMA é completamente independente, não possuí exclusividade com nenhuma administradora de consórcios e não representa oficialmente nenhuma marca, administradora, montadora, consórcio de fábrica ou marca específica fabricada e comercializada no território nacional. A PLATAFORMA apenas disponibiliza ferramentas de comunicação e marketing para os representantes e vendedores, além de prestar informações jornalísticas de interesse público referente às marcas e modelos de produtos/serviços disponíveis no mercado. Além disso, realiza simulações de planos e parcelas de cotas de consórcios de acordo com o credito escolhido;
                        </p>

                        <p><strong>G</strong> - As taxas utilizadas para a simulação ou são uma média das taxas praticadas pelo mercado para simples simulação de créditos, planos e parcelas ou são as taxas oficiais praticadas e divulgadas pela Administradora de Consórcios para a qual o representante ou vendedor trabalha. Essa informação será disponibilizada no resultado da simulação realizada e a veracidade dos respectivos planos e valores informados está sujeita a confirmação por parte dos profissionais de vendas no ato do atendimento;
                        </p>

                        <p><strong>H</strong> - A compra de uma cota de consórcio significa a aquisição de um crédito específico junto a uma Administradora de Consórcio autorizada pelo Banco Central para ser utilizado após a contemplação na aquisição de qualquer marca ou modelo de produto, respeitando a categoria do consórcio objeto da compra, conforme as normas do Banco Central;
                        </p>

                        <p><strong>I</strong> - Toda informação disponibilizada e publicada pela PLATAFORMA é de responsabilidade exclusiva da AGENCY BRAZIL LTDA, exceto as informações sobre dados de contatos com os representantes e vendedores, bem como: taxas, planos, créditos e resultados de simulações, que deverão ser confirmadas diretamente com o profissional de vendas responsável pelo atendimento;
                        </p>

                        <p><strong>J</strong> - A PLATAFORMA não se responsabiliza pela exatidão dos valores apresentados nas simulações e nem o prazo de validade das mesmas, principalmente em razão de haver constantes alterações nas tabelas de preços, valores de veículos, cálculos e índices aplicados. Sendo assim, é obrigatória a mediação de um profissional de vendas da ADMINISTRADORA DE CONSÓRCIO, para confirmação dos valores a serem contratados, ficando a PLATAFORMA isenta de quaisquer reivindicações ou ações judiciais propostas pelos USUÁRIOS ou TERCEIROS; 
                        </p>

                        <p><strong>K</strong> - O USUÁRIO deve preencher o formulário de simulação de plano ou proposta de aquisição com informações verdadeiras e precisas, para que possa ser atendido de forma rápida e personalizada;
                        </p>

                        <p><strong>L</strong> - Eventuais falhas no funcionamento da PLATAFORMA  www.comparadordeconsorcio.com.br serão corrigidas durante o período que for necessário para a sua manutenção. A PLATAFORMA não se responsabiliza por danos decorrentes da não disponibilidade ou falha de funcionamento; 
                        </p>

                        <p><strong>M</strong> - Essa PLATAFORMA não atua como uma Instituição Financeira ou como ADMINISTRADORA DE CONSÓRCIO, conforme regulamenta o Banco Central do Brasil; 
                        </p>

                        <p><strong>N</strong> - Essa PLATAFORMA é um canal informativo, acessível a qualquer USUÁRIO de forma gratuita, sem a obrigação da contratação dos serviços e/ou produtos apresentados; 
                        </p>

                        <p><strong>O</strong> - Toda informação ou dado pessoal prestado pelo USUÁRIO é armazenado nos servidores da PLATAFORMA, a qual tomará todas as medidas possíveis para manter a confidencialidade e a segurança das mesmas, enviando-as somente para o representante ou vendedor ora contatado, para que o mesmo possa prosseguir com o atendimento de forma exclusiva;
                        </p>

                        <p><strong>P</strong> - O USUÁRIO não pode modificar, copiar, distribuir, transmitir, exibir, realizar, reproduzir, publicar, disponibilizar, licenciar ou criar obras derivadas a partir das informações coletadas na PLATAFORMA, bem como transferir ou vender tais informações, conteúdos, produtos ou serviços, sob pena de violação do presente termo e infração legal;
                        </p>

                        <p><strong>Q</strong> - Ao USUÁRIO é permitido o envio de pesquisas de opinião com a finalidade de aprimoramento da PLATAFORMA e verificação da satisfação para com o atendimento realizado pelos profissionais de vendas da ADMINISTRADORA DE CONSÓRCIO. Contudo, a participação não é obrigatória e ficará a critério do USUÁRIO;
                        </p>

                        <p><strong>R</strong> - A PLATAFORMA contém links para outros SITES operados por terceiros. Esses links são fornecidos somente para sua referência, razão pela qual, a PLATAFORMA não se responsabiliza pelo conteúdo dos mesmos, nem respectivas exigências de utilização, sendo certo que a inclusão desses links na PLATAFORMA www.comparadordeconsorcio.com.br não significa aprovação do material ou qualquer associação com seus proprietários;
                        </p>

                        <p><strong>S</strong> - Este TERMO DE USO poderá ser modificado a qualquer tempo, devendo ser ratificado pelo USUÁRIO sempre que tal ocorrer, como condição obrigatória para o acesso a PLATAFORMA www.comparadordeconsorcio.com.br;
                        </p>

                        <p><strong>T</strong> - Este TERMO DE USO não gera nenhum contrato de sociedade, mandato, franquia ou relação de trabalho entre a PLATAFORMA  www.comparadordeconsorcio.com.br e o USUÁRIO, que reconhece que a PLATAFORMA não possui controle algum sobre a qualidade, segurança ou legalidade dos serviços oferecidos pelos REPRESENTANTES, VENDEDORES ou pela ADMINISTRADORA DE CONSÓRCIO parceira e, ainda, sobre a exatidão dos cálculos, simulações, e ofertas dos mesmos; 
                        </p>

                        <p><strong>U</strong> - Quaisquer avisos ou comunicação que uma das partes tenha de fazer à outra parte, em relação a direitos ou obrigações contidas no presente instrumento, deverá adotar da forma escrita, assim como entregar no endereço constante do preâmbulo deste Termo de Uso; 
                        </p>

                        <p><strong>V</strong> - Todos os itens destes Termos de Uso estão regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação e ao cumprimento dos termos, as partes se submetem ao foro Central da Cidade de São Paulo.
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <div class="row row-anuncios">

                            <div class="col-sm-12 align-items-stretch youtube-videos div-solicitacoes col-anuncios" data-aos="fade-up">
                                <div class="icon-box">
                                <div class="icon"><i class="bx bx-phone-call"></i></div>
                                <h4><a href="ligacao.html">Solicitar ligação</a></h4>

                                <p>
                                    Receba uma ligação agora e saiba como fazer o melhor negócio
                                </p>
                                </div>
                            </div>

                            <div class="col-sm-12 align-items-stretch mt-4 mt-md-0 youtube-videos div-solicitacoes col-anuncios" data-aos="fade-up" data-aos-delay="150">
                                <div class="icon-box">
                                <div class="icon"><i class="bx bx-briefcase"></i></div>
                                <h4><a href="visita.html">Agendar visita</a></h4>

                                    <p>
                                        Vamos até você e esclarecemos suas dúvidas sem compromisso
                                    </p>
                                </div>
                            </div>

                            
                        </div>
                    </div>

                </div>
          </div>
        </section><!-- End Why Us Section -->

        <div class="owl-carousel company-carousel">

                  <img
                      v-for="employer in vm.employes" 
                      v-if="employer['image-file']"
                      
                      v-bind:src="'https://www.comparadordeconsorcio.com.br/img/uploads/' + employer['image-file'].filename  "
                      class="img-fluid image-gray" alt="">

        </div>

      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-4 col-md-6">
                <div class="footer-info">
                  <h3>
                    <img 
                          class="logo-footer"
                          src="img/logo-comparador-branco.png" alt="logo" />
                  </h3>

                  <p>
                      O Consórcio é autorizado e fiscalizado pelo Banco Central do Brasil, garantia e segurança total para você.
                  </p>

                  <br />
                  
                  <p>
                    <!--
                    A108 Adam Street <br>
                    NY 535022, USA --><br><br>
                    <strong>E-mail:</strong> contato@comparadordeconsorcio.com.br<br>
                  </p>

                  
                  <div class="social-links mt-3">
                    <a 
                      target="_blank"
                      href="https://www.facebook.com/investimentosdream" 
                      class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a 
                      target="_blank"
                      href="https://www.instagram.com/dreaminvestimentos/" 
                      class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a 
                      target="_blank"
                      href="https://www.linkedin.com/company/dream-investimentos/" class="linkedin"><i class="bx bxl-linkedin"></i></a>

                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 footer-links">
                <h4>Links Úteis</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="index.html">Comparador</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="ligacao.html">Solicitar ligação</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="visita.html">Agendar visita</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="privacidade.html">Política de Privacidade</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="termos.html">Termos de Uso</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="financeira.html">Políticas Financeiras</a></li>


                  <!--
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                  -->
                </ul>
              </div>

              <!--
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                <form action="" method="post">
                  <input type="email" name="email"><input type="submit" value="Subscribe">
                </form>

              </div>
              -->

            </div>
          </div>
        </div>

        <div class="container">
          <div class="copyright">
            &copy; 2020  <strong><span>Comparador de Consórcio By Dream Investimentos</span></strong>. Todos os direitos reservados
            <img src="img/Logo Dreamvb.png" class="logo-dream logo-dream-footer" />
          </div>

          
        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
      <div id="preloader"></div>
  </div>
  <!-- localScope --> 
  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script src="js/libs/axios-0-19-2.js"></script>
  <script src="js/libs/vue-2-6-11.js"></script>
  <script src="js/site.js"></script>
</body>

</html>